.popup__input {
  width: 100%;
  min-height: 47px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0;
  margin: 0 0 15px;
  box-sizing: border-box;
}

