.profile__about {
  box-sizing: border-box;
  max-width: 336px;
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .profile__about {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 10px;
  }
}
